{
  "screenshotFolder": "~/Downloads",
  "fonts": [
    "hack-font",
    "fira-code",
    "open-sans",
    "source-code-pro",
    "jetbrains-mono"
  ],
  "trustedUsers": [],
  "allowedUsers": [
    "*"
  ]
}
